{% extends "layout.html" %}

{% block content %}
  <div id="content" class="main" role="main">
    <article id="about">
      <div class="container">
        <section class="row">
          <div class="col-md-8 wow fadeIn" data-wow-delay="0.6s">
            <h2 class="text-uppercase text-primary">O que é <strong>Cirurgia Vascular</strong>?</h2>
            <p class="text-muted">A cirurgia vascular é a especialidade responsável pelo diagnóstico e terapêutica das doenças arteriais, venosas e dos vasos linfáticos, através do manejo clínico, terapias minimamente invasivas por cateteres e reconstruções cirúrgicas. O cirurgião vascular é treinado no diagnóstico e terapêutica das doenças que afetam todas as partes dos sistema vascular, exceto aquelas que envolvem o coração e o cérebro.</p>
          </div>
        </section>
        <section class="row">
          <div class="col-md-12">
            <h3 class="text-uppercase text-muted">Parceiros</h3>
            <ul class="list-unstyled list-inline nav-justified wow fadeIn" data-wow-delay="0.6s">
              <li class="">
                <a href="#unimed">
                  <img src="img/parceiros/unimed.png" alt="">
                </a>
              </li>
              <li class="">
                <a href="#cardiologia">
                  <img src="img/parceiros/cardiologia.png" alt="">
                </a>
              </li>
              <li class="">
                <a href="#ss">
                  <img src="img/parceiros/ss.png" alt="">
                </a>
              </li>
              <li class="">
                <a href="#sos">
                  <img src="img/parceiros/sos.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </article>
    <article id="servicos">
      <section class="row text-center">
        <h2 class="text-uppercase wow fadeIn" data-wow-delay="0.6s">O que nos fazemos?</h2>
        <h3 class="wow fadeIn" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin leo.</h3>
        <a class="btn btn-contact btn-default wow fadeIn" data-wow-delay="0.6s" href="#contato">
          entre em <strong>contato</strong>
        </a>
        <a class="link-arrow col-md-12 text-center wow fadeIn" data-wow-delay="0.6s" href="#about">
          <img class="img-center" src="img/servicos/arrow.png" alt="">
        </a>
      </section>
      <section class="bg-opacity">
        <div class="container">
          <div class="row">
            <div class="col-md-3 text-center wow fadeIn" data-wow-delay="0.6s">
              <div class="circle">
                <img class="img-responsive" src="img/servicos/EscleroterapiadeVarizes-icon.png" alt="">
              </div>
              <h3 class="text-uppercase">Escleroterapia de Varizes </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum libero varius lorem tempus, et aliquet lectus dignissim. Duis non vestibulum elit, eget sollicitudin urna. Nullam at nunc ornare purus fringilla semper. Integer non tincidunt leo, ut placerat ex. Quisque dapibus placerat lobortis.</p>
              <a class="btn btn-info" href="#more">
                saiba <strong>mais</strong>
              </a>
            </div>
            <div class="col-md-3 text-center wow fadeIn" data-wow-delay="0.6s">
              <div class="circle">
                <img class="img-responsive" src="img/servicos/microcirurgia-icon.png" alt="">
              </div>
              <h3 class="text-uppercase">Microcirurgia</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum libero varius lorem tempus, et aliquet lectus dignissim. Duis non vestibulum elit, eget sollicitudin urna. Nullam at nunc ornare purus fringilla semper. Integer non tincidunt leo, ut placerat ex. Quisque dapibus placerat lobortis.</p>
              <a class="btn btn-info" href="#more">
                saiba <strong>mais</strong>
              </a>
            </div>
            <div class="col-md-3 text-center wow fadeIn" data-wow-delay="0.6s">
              <div class="circle">
                <img class="img-responsive" src="img/servicos/cirurgialazer-icon.png" alt="">
              </div>
              <h3 class="text-uppercase">Cirurgia a Laser</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum libero varius lorem tempus, et aliquet lectus dignissim. Duis non vestibulum elit, eget sollicitudin urna. Nullam at nunc ornare purus fringilla semper. Integer non tincidunt leo, ut placerat ex. Quisque dapibus placerat lobortis.</p>
              <a class="btn btn-info" href="#more">
                saiba <strong>mais</strong>
              </a>
            </div>
            <div class="col-md-3 text-center wow fadeIn" data-wow-delay="0.6s">
              <div class="circle">
                <img class="img-responsive " src="img/servicos/cirurgia-icon.png" alt="">
              </div>
              <h3 class="text-uppercase">Cirurgia</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum libero varius lorem tempus, et aliquet lectus dignissim. Duis non vestibulum elit, eget sollicitudin urna. Nullam at nunc ornare purus fringilla semper. Integer non tincidunt leo, ut placerat ex. Quisque dapibus placerat lobortis.</p>
              <a class="btn btn-info" href="#more">
                saiba <strong>mais</strong>
              </a>
            </div>
          </div>
        </div>
      </section>
    </article>
    <article id="doctor">
      <div class="container">
        <section class="row">
          <div class="col-md-5 wow scrollInTop" data-wow-delay="0.6s">
            <h2 class="text-uppercase text-primary">Marcelo <strong>Mandelli</strong></h2>
            <p>
              Proin egestas imperdiet erat et dapibus. Proin pharetra, tortor quis tempus blandit, est elit lobortis urna, id bibendum nisl sem et nunc. Curabitur sit amet consequat nisl. Sed pulvinar accumsan libero quis mollis. Fusce nec sagittis justo. Aenean pulvinar massa ut nisi varius, sit amet placerat nulla iaculis. Proin odio lorem, hendrerit auctor ante eu, pulvinar ullamcorper arcu. In nec tempor nisl. Vestibulum a iaculis nisi, at gravida dolor. Suspendisse lacus lorem, vestibulum vitae dapibus non, maximus in arcu. Maecenas egestas urna neque, ut fermentum ante rhoncus in. Cras blandit odio sit amet bibendum molestie. Morbi luctus, erat at tempor euismod, mauris erat fermentum purus, quis molestie sem lectus venenatis metus.
            </p>
            <q>
              Nunc auctor ultricies consequat.
              Donec vitae tincidunt sapien.
            </q>
            <a class="btn btn-danger" href="#more">
              saiba <strong>mais</strong>
            </a>
          </div>
        </section>
      </div>
    </article>
    <article id="treatment">
      <div class="container">
        <section class="row">
          <div class="title-content col-md-12">
            <h2 class="text-lowercase text-muted ">tratamentos</h2>
          </div>
          <div class="col-md-6">
            <div class="tab-content">
              <div class="tab-pane fade" id="aneurismas">
                <h2>Trombose venosa Profunda (TVP)</h2>
                <p>A trombose venosa profunda (TVP) é uma doença grave caracterizada pela formação de coágulos (trombos) no interior das veias profundas. É uma situação anormal que ocorre por lesões venosas, estase (estagnação) sanguínea ou por um estado de hipercoagulação. Na maioria das vezes, estes trombos se formam na panturrilha, porém podem ocorrer em todas as veias profundas do corpo, inclusive dos braços.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>

              <div class="tab-pane fade" id="doenca-arterial-renal">
                <h2>Doença arterial renal</h2>
                <p></p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
              <div class="tab-pane fade" id="doencas-carotídea-e-avc">
                <h2>Doenças Carotídea e AVC</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ornare ligula. Nulla mattis varius feugiat. Mauris eu finibus eros. Nam condimentum nulla ac nulla dictum gravida vitae sit amet tellus. Phasellus et ex consectetur, porttitor mauris vel, elementum velit. Nullam ex dolor, consectetur id justo non, sagittis lobortis massa.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
              <div class="tab-pane fade" id="insuficiencia-venosa-cronica">
                <h2>Insuficiência venosa crônica</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ornare ligula. Nulla mattis varius feugiat. Mauris eu finibus eros. Nam condimentum nulla ac nulla dictum gravida vitae sit amet tellus. Phasellus et ex consectetur, porttitor mauris vel, elementum velit. Nullam ex dolor, consectetur id justo non, sagittis lobortis massa.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
              <div class="tab-pane fade" id="linfangites-erisipelas">
                <h2>Linfangites / Erisipelas</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ornare ligula. Nulla mattis varius feugiat. Mauris eu finibus eros. Nam condimentum nulla ac nulla dictum gravida vitae sit amet tellus. Phasellus et ex consectetur, porttitor mauris vel, elementum velit. Nullam ex dolor, consectetur id justo non, sagittis lobortis massa.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
              <div class="tab-pane fade" id="linfangites-erisipelas">
                <h2>Linfangites / Erisipelas</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ornare ligula. Nulla mattis varius feugiat. Mauris eu finibus eros. Nam condimentum nulla ac nulla dictum gravida vitae sit amet tellus. Phasellus et ex consectetur, porttitor mauris vel, elementum velit. Nullam ex dolor, consectetur id justo non, sagittis lobortis massa.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
              <div class="tab-pane fade" id="stent">
                <h2>Stent</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ornare ligula. Nulla mattis varius feugiat. Mauris eu finibus eros. Nam condimentum nulla ac nulla dictum gravida vitae sit amet tellus. Phasellus et ex consectetur, porttitor mauris vel, elementum velit. Nullam ex dolor, consectetur id justo non, sagittis lobortis massa.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
              <div class="tab-pane fade" id="doenca-arterial-periferica">
                <h2>Doença arterial periférica</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ornare ligula. Nulla mattis varius feugiat. Mauris eu finibus eros. Nam condimentum nulla ac nulla dictum gravida vitae sit amet tellus. Phasellus et ex consectetur, porttitor mauris vel, elementum velit. Nullam ex dolor, consectetur id justo non, sagittis lobortis massa.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
              <div class="tab-pane fade" id="doenca-arterial-digestiva">
                <h2>Doença arterial digestiva</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ornare ligula. Nulla mattis varius feugiat. Mauris eu finibus eros. Nam condimentum nulla ac nulla dictum gravida vitae sit amet tellus. Phasellus et ex consectetur, porttitor mauris vel, elementum velit. Nullam ex dolor, consectetur id justo non, sagittis lobortis massa.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
              <div class="tab-pane fade" id="varizes-de-membros-inferiores">
                <h2>Varizes de membros inferiores</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ornare ligula. Nulla mattis varius feugiat. Mauris eu finibus eros. Nam condimentum nulla ac nulla dictum gravida vitae sit amet tellus. Phasellus et ex consectetur, porttitor mauris vel, elementum velit. Nullam ex dolor, consectetur id justo non, sagittis lobortis massa.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
              <div class="tab-pane fade active in" id="trombose-venosa-profunda">
                <h2>Trombose venosa Profunda (TVP)</h2>
                <p>A trombose venosa profunda (TVP) é uma doença grave caracterizada pela formação de coágulos (trombos) no interior das veias profundas. É uma situação anormal que ocorre por lesões venosas, estase (estagnação) sanguínea ou por um estado de hipercoagulação. Na maioria das vezes, estes trombos se formam na panturrilha, porém podem ocorrer em todas as veias profundas do corpo, inclusive dos braços.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
              <div class="tab-pane fade" id="laser">
                <h2>Laser</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ornare ligula. Nulla mattis varius feugiat. Mauris eu finibus eros. Nam condimentum nulla ac nulla dictum gravida vitae sit amet tellus. Phasellus et ex consectetur, porttitor mauris vel, elementum velit. Nullam ex dolor, consectetur id justo non, sagittis lobortis massa.</p>
                <a class="btn btn-danger" href="#more">
                  leia <strong>mais</strong>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <ul class="tab-links nav nav-pills nav-stacked nav-justified" role="tablist">
              <li>
                <a href="#aneurismas" role="tab" data-toggle="tab">Aneurismas</a>
              </li>
              <li>
                <a href="#doenca-arterial-renal" role="tab" data-toggle="tab">Doença arterial renal</a>
              </li>
              <li>
                <a href="#doencas-carotídea-e-avc" role="tab" data-toggle="tab">Doenças Carotídea e AVC</a>
              </li>
              <li>
                <a href="#insuficiencia-venosa-cronica" role="tab" data-toggle="tab">Insuficiência venosa crônica</a>
              </li>
              <li>
                <a href="#linfangites-erisipelas" role="tab" data-toggle="tab">Linfangites / Erisipelas</a>
              </li>
              <li>
                <a href="#stent" role="tab" data-toggle="tab">Stent</a>
              </li>
            </ul>
            <ul class="tab-links nav nav-pills nav-stacked nav-justified" role="tablist">
              <li>
                <a href="#doenca-arterial-periferica" role="tab" data-toggle="tab">Doença arterial periférica</a>
              </li>
              <li>
                <a href="#doenca-arterial-digestiva" role="tab" data-toggle="tab">Doença arterial digestiva</a>
              </li>
              <li>
                <a href="#varizes-de-membros-inferiores" role="tab" data-toggle="tab">Varizes de membros inferiores</a>
              </li>
              <li class="active">
                <a href="#trombose-venosa-profunda" role="tab" data-toggle="tab">Trombose venosa profunda</a>
              </li>
              <li>
                <a href="#laser" role="tab" data-toggle="tab">Laser</a>
              </li>
            </ul>
          </div>
        </section>

      </div>
    </article>
    <article id="news">
      <section id="letter">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-3 col-md-6 text-center">
              <form id="newsletter" action="#news" method="POST" role="form">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Digite seu e-mail...">
                  <span class="input-group-btn">
                      <button class="btn" type="submit">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </button>
                    </span>
                </div><!-- /input-group -->
              </form>
              <h2>Lorem ipsum dolor sit amet,</h2>
              <h3>consectetur elit</h3>
            </div>
          </div>
        </div>
      </section>
      <section id="articles">
        <div class="container">
          <div class="row">
            <article class="col-md-6">
              <figure>
                <img src="img/news/placeholder.png" alt="Lorem">
              </figure>
              <aside class="right">
                <h2>Lorem ipsum dolor sit amet, consectetur elit</h2>
                <p>Content...Suspendisse placerat dui vitae mauris hendrerit, id pretium mauris commodo. Curabitur volutpat sed neque et semper. Sed dapibus elit eu tellus laoreet, ac consectetur orci tincidunt. Suspendisse ac felis vehicula, bibendum purus nec, pharetra dolor. Nunc et risus massa. Proin metus nulla, iaculis ac diam non, placerat cursus ex.</p>
                <a href="#" class="btn btn-info">leia mais</a>
              </aside>
            </article>
            <article class="col-md-6">
              <figure>
                <img src="img/news/placeholder.png" alt="Lorem">
              </figure>
              <aside class="right">
                <h2>Lorem ipsum dolor sit amet, consectetur elit</h2>
                <p>Content...Suspendisse placerat dui vitae mauris hendrerit, id pretium mauris commodo. Curabitur volutpat sed neque et semper. Sed dapibus elit eu tellus laoreet, ac consectetur orci tincidunt. Suspendisse ac felis vehicula, bibendum purus nec, pharetra dolor. Nunc et risus massa. Proin metus nulla, iaculis ac diam non, placerat cursus ex.</p>
                <a href="#" class="btn btn-info">leia mais</a>
              </aside>
            </article>

          </div>
        </div>
      </section>
    </article>
    <article id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <form class="row" id="contato" role="form">
              <div class="col-md-12">
                <h2>Entre em contato</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin leo.</h3>
              </div>
              <fieldset class="col-md-6">
                <div class="form-group">
                  <label for="nome" class="hidden">seu nome</label>
                  <input type="text" class="form-control" name="nome" id="nome" placeholder="seu nome">
                </div>
                <div class="form-group">
                  <label for="phone" class="hidden">seu telefone</label>
                  <input type="tel" class="form-control" name="phone" id="phone" placeholder="seu telefone">
                </div>
              </fieldset>
              <fieldset class="col-md-6">
                <div class="form-group">
                  <label for="email" class="hidden">seu e-mail</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="seu e-mail">
                </div>
                <div class="form-group">
                  <label for="subject" class="hidden"> assunto</label>
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="assunto">
                </div>
              </fieldset>
              <fieldset class="col-md-12">
                <div class="form-group">
                  <label for="mensagem" class="hidden">mensagem</label>
                  <textarea name="mensagem" class="form-control" id="mensagem" placeholder="mensagem" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-contato">Enviar</button>
              </fieldset>
            </form>
            <div id="validacao" class="col-md-12">
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
{% endblock %}
